<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            opacity: 0;
            animation: fadeIn 1s forwards;
        }

        .container {
            background-color: #ffffff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .mb-3, .mt-3, .table {
            margin-bottom: 1.5rem !important;
        }

        .nav-tabs > .nav-item {
            margin-bottom: 0.5rem;
        }

        .btn-outline-secondary {
            color: black;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .hidden {
            display: none;
        }

        .nav-tabs .nav-link {
            border: 1px solid #dee2e6;
            border-radius: 5px;
        }

        .nav-tabs .nav-link.active {
            border-color: #007bff;
            background-color: #f8f9fa;
        }

        .hidden-section {
            display: none;
        }

        .visible-section {
            display: block;
        }

        .btn-success {
            background-color: #007bff;
            border-color: #007bff;
        }

        h2 {
            margin-bottom: 2rem;
        }

        label, .form-check-label {
            line-height: 1.8;
        }
    </style>
</head>
<body>

<div class="container mt-3">
    <div class="d-flex justify-content-end align-items-center">
        <img src="/images/profile-icon.png" alt="Profile Icon" class="rounded-circle me-2" style="width: 40px; height: 40px;">
        <span th:text="${applicant.email}" class="me-2"></span>
        <a href="/logout" class="btn btn-outline-secondary">Выход</a>
    </div>

    <div class="row">
        <!-- Sidebar -->
        <div class="col-3 border-end">
            <ul class="nav flex-column nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/applicant/lk/applications">Мои заявления</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/applicant/lk/application">Подача заявления</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/applicant/lk/verification">Верификация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/applicant/lk/lists">Все списки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/applicant/lk/settings">Настройки</a>
                </li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="col-9">
            <div class="tab-content">

                <!-- Verification Tab -->
                <div id="verification" class="tab-pane fade show active d-flex flex-column align-items-center mt-4 mb-4">
                    <h2 class="text-center">Основные данные поступающего</h2>
                    <form method="POST" action="/applicant/lk/submit" class="w-50">
                        <div class="mb-4">
                            <label for="pasportpicture" class="form-label">Прикрепить изображение паспорта:</label>
                            <div class="d-flex align-items-center">
                                <input type="file" id="pasportpicture" name="pasportpicture" class="form-control me-2" onchange="toggleButton(this)">
                                <button type="button" class="btn btn-danger hidden" onclick="removeFile('pasportpicture', this)">Удалить</button>
                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="snilspicture" class="form-label">Прикрепить изображение СНИЛСа:</label>
                            <div class="d-flex align-items-center">
                                <input type="file" id="snilspicture" name="snilspicture" class="form-control me-2" onchange="toggleButton(this)">
                                <button type="button" class="btn btn-danger hidden" onclick="removeFile('snilspicture', this)">Удалить</button>
                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="educationCertificate" class="form-label">Прикрепить аттестат образования:</label>
                            <div class="d-flex align-items-center">
                                <input type="file" id="educationCertificate" name="educationCertificate" class="form-control me-2" onchange="toggleButton(this)">
                                <button type="button" class="btn btn-danger hidden" onclick="removeFile('educationCertificate', this)">Удалить</button>
                            </div>
                        </div>

                        <div class="mb-4">
                            <label class="form-check-label">
                                <input type="checkbox" id="specialPrivileges" name="specialPrivileges" class="form-check-input me-2">
                                Квоты
                            </label>
                        </div>

                        <div id="privilegesSection" class="hidden-section">
                            <div class="mb-4">
                                <label for="bonusReason" class="form-label">Причина дополнительных баллов:</label>
                                <select id="bonusReason" name="bonusReason" class="form-select">
                                    <option value="">Выберите причину</option>
                                    <option value="Инвалидность">Инвалидность или ограниченные возможности здоровья</option>
                                    <option value="Сирота">Сироты или оставшиеся без попечения родителей</option>
                                    <option value="Ветеран">Ветераны боевых действий</option>
                                    <option value="Дети военнослужащих">Дети военнослужащих, погибших при исполнении служебных обязанностей</option>
                                </select>
                            </div>

                            <div class="mb-4">
                                <label for="privilegeDocuments" class="form-label">Прикрепить документы, подтверждающие привилегии:</label>
                                <div class="d-flex align-items-center">
                                    <input type="file" id="privilegeDocuments" name="privilegeDocuments" class="form-control me-2" onchange="toggleButton(this)">
                                    <button type="button" class="btn btn-danger hidden" id="removePrivilegeDocuments" onclick="removeFile('privilegeDocuments', this)">Удалить</button>
                                </div>
                            </div>
                        </div>

                        <div class="mb-4">
                            <label class="form-check-label">
                                <input type="checkbox" id="achievements" name="achievements" class="form-check-input me-2">
                                Достижения
                            </label>
                        </div>

                        <div id="achievementsSection" class="hidden-section">
                            <div class="mb-4">
                                <label for="achievementReason" class="form-label">Достижения:</label>
                                <select id="achievementReason" name="achievementReason" class="form-select">
                                    <option value="">Выберите достижение</option>
                                    <option value="Олимпиада">Олимпиада</option>
                                    <option value="Спорт">Спортивные достижения высокого уровня</option>
                                </select>
                            </div>

                            <div class="mb-4">
                                <label for="achievementDocuments" class="form-label">Прикрепить документы, подтверждающие достижения:</label>
                                <div class="d-flex align-items-center">
                                    <input type="file" id="achievementDocuments" name="achievementDocuments" class="form-control me-2" onchange="toggleButton(this)">
                                    <button type="button" class="btn btn-danger hidden" id="removeAchievementDocuments" onclick="removeFile('achievementDocuments', this)">Удалить</button>
                                </div>
                            </div>
                        </div>

                        <div class="mb-4 text-center">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function removeFile(inputId, button) {
        const inputElement = document.getElementById(inputId);
        if (inputElement) {
            inputElement.value = '';
            button.classList.add('hidden');
        }
    }

    function toggleButton(inputElement) {
        const button = inputElement.nextElementSibling;
        if (inputElement.files.length > 0) {
            button.classList.remove('hidden');
        } else {
            button.classList.add('hidden');
        }
    }

    document.getElementById('specialPrivileges').addEventListener('change', function() {
        const privilegesSection = document.getElementById('privilegesSection');
        if (this.checked) {
            privilegesSection.classList.remove('hidden-section');
            privilegesSection.classList.add('visible-section');
        } else {
            privilegesSection.classList.remove('visible-section');
            privilegesSection.classList.add('hidden-section');
        }
    });

    document.getElementById('achievements').addEventListener('change', function() {
        const achievementsSection = document.getElementById('achievementsSection');
        if (this.checked) {
            achievementsSection.classList.remove('hidden-section');
            achievementsSection.classList.add('visible-section');
        } else {
            achievementsSection.classList.remove('visible-section');
            achievementsSection.classList.add('hidden-section');
        }
    });
</script>

</body>
</html>
